*, *::before, *::after {
    box-sizing: border-box;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --blue: #03244d;
    --light-blue: #496e9c;
    --orange: #dd550c;
    --light-orange: #f68026;
    --white: #fff;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 800px;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.question {
    font-size: 2.5rem;
    font-weight: 500;
}

.button-grid {
    display: grid;
    gap: 5px;
    margin: 20px 0;
}



.button {
    padding: 15px 30px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 8px;
    border: 2px solid var(--orange);
    cursor: pointer;
    transition: 0.3s ease-in;
}

button:hover {
    background-color: var(--light-blue);
    border-color: var(--light-orange);
}

.start-button {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 30px 50px;

}

.answer-button {
    text-align: left;
}

.hide {
    display: none;
}

.result {
    font-size: 2.5rem;
    font-weight: 500;
    font-style: italic;
    color: var(--white);
    border-top: 5px solid var(--orange);
    background-color: var(--blue);
    padding-top: 5px;
    padding-left: 15px;
    margin-top: 5px;
}